
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Shared/GiaoDienKHLayout.cshtml";
}

<style>

    .head {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    .main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: black
    }
</style>

<div class="head">
    <h1>LYT CellPhone</h1>
    <p>Nơi Lựa Chọn Hoàn Hảo Cho Sự Kết Nối Của Bạn</p>
</div>
<div class="main">
    <h2>Giới Thiệu</h2>
    <p>Trong thời đại kỹ thuật số phát triển mạnh mẽ, điện thoại di động không chỉ đơn giản là một công cụ liên lạc, mà còn là người bạn đồng hành không thể thiếu trong cuộc sống hàng ngày. Chính vì vậy, việc chọn lựa một chiếc điện thoại chất lượng và phù hợp với nhu cầu cá nhân đã trở nên quan trọng hơn bao giờ hết. Và để đáp ứng nhu cầu đó, LYT CellPhone đã xuất hiện và sẵn sàng đồng hành cùng bạn trong hành trình kết nối và tiến bước vào thế giới số hóa.</p>

    <h2>Giới Thiệu Về LYT CellPhone</h2>
    <p>LYT CellPhone là một cửa hàng chuyên cung cấp các sản phẩm điện thoại di động, phụ kiện và dịch vụ kỹ thuật chất lượng cao. Với cam kết mang đến sự hài lòng và trải nghiệm tốt nhất cho khách hàng, LYT CellPhone đã trở thành một trong những điểm đến uy tín và phổ biến cho những người yêu công nghệ và muốn tìm kiếm những giải pháp di động tốt nhất.</p>

    <h2>Hình Ảnh</h2>
    <div class="row">
        <img src="~/Image/yen1.jpg" class="p-5 col-6">
        <img src="~/Image/yen1.jpg" class="p-5 col-6">
    </div>
    <h2>Sản Phẩm Đa Dạng</h2>
    <p>LYT CellPhone tự hào là nơi bạn có thể tìm thấy một loạt các sản phẩm điện thoại hàng đầu từ các nhà sản xuất uy tín. Từ các mẫu điện thoại thông thường đến các chiếc smartphone cao cấp, chúng tôi luôn có sẵn những sản phẩm đa dạng để đáp ứng mọi nhu cầu của khách hàng.</p>
    <p>LYT CellPhone tự hào là nơi bạn có thể tìm thấy một loạt các sản phẩm điện thoại hàng đầu từ các nhà sản xuất uy tín. Từ các mẫu điện thoại thông thường đến các chiếc smartphone cao cấp, chúng tôi luôn có sẵn những sản phẩm đa dạng để đáp ứng mọi nhu cầu của khách hàng.</p>
    <div class="row">
        <img src="~/Content/images/banner2.png" class="p-5 col-6">
        <img src="~/Content/images/banner3.png" class="p-5 col-6">
    </div>

    <h2>Dịch Vụ Chất Lượng</h2>

